body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.content-center{
    justify-content: center;
}

.content-start{
    justify-content: start;
}

.content-end{
    justify-content: end;
}

.content-s-a{
    justify-content: space-around;
}

.content-s-b{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.item-start{
    align-items: start;
}

.item-end{
    align-items: end;
}